/*$bgcolor: #99CC66;*/
.schedule {
  background-color: #F5F5F5; }
  .schedule svg path {
    fill: #2d4214;
    transition: 0.5s ease; }
  .schedule table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #999999; }
    .schedule table th {
      border-bottom: 1px solid #999999; }
    .schedule table td {
      border-left: 1px solid #999999;
      border-right: 1px solid #999999; }
    .schedule table th, .schedule table td {
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      text-align: center;
      vertical-align: top;
      width: 40px;
      overflow: hidden; }
  .schedule a {
    width: 100%;
    height: 100%;
    display: block;
    color: #5C753F;
    border: 1px solid transparent;
    text-align: center; }
    .schedule a:link, .schedule a:visited {
      text-decoration: none;
      outline: none; }
    .schedule a:hover {
      text-decoration: none;
      background-color: #EEEEEE;
      border: 1px solid #999999; }
    .schedule a:active {
      text-decoration: none;
      background-color: #EEEEEE;
      border: 1px solid #999999; }
