/*$bgcolor: #99CC66;*/
.courses {
  margin-top: 15px; }

/* Reset General links */
a:link, a:visited {
  text-decoration: none;
  outline: none;
  color: black; }

a:hover {
  text-decoration: none;
  background-color: #EEEEEE;
  outline: none;
  color: black; }

a:active {
  text-decoration: none;
  outline: none;
  color: black; }

.course, .course-header {
  border: 0px solid black; }

/* links of cal-menu */
.course {
  width: 100%;
  text-align: right; }
  .course .course-header {
    color: black;
    font-family: Gotham, sans-serif;
    font-weight: bold; }
    .course .course-header:hover {
      background-color: #EEEEEE;
      text-decoration: none; }
    .course .course-header .course-header-name {
      display: inline-block;
      padding-right: 15px; }
    .course .course-header .course-header-icon {
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      text-align: center; }
  .course .teachers .teacher:hover {
    background-color: #EEEEEE;
    text-decoration: none; }
  .course .teachers .teacher .teacher-name {
    display: inline-block;
    white-space: nowrap;
    padding-right: 15px; }
  .course .teachers .teacher .teacher-icon {
    display: inline-block;
    width: 45px; }

/*Animate menu, Course Names with Teachers*/
.teachers-show {
  opacity: 1;
  padding-bottom: 5px; }

.teachers-animate-transition {
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s; }

/*
.animate-teachers.hide {
    -webkit-transition: all ease-in .2s;
    transition: all ease-in .2s;
}
*/
.teachers-hide {
  line-height: 0;
  opacity: 0;
  padding: 0px; }
