$bgcolor: #F5F5F5;
$size-title: 15px;
$menu-hover: #EEEEEE;
$link-hover: #999999;
$txt-color-mid: #5C753F;
$logo-fill: #333;

/* Button */
a {
    /* My Button */
    &.my-btn {
        /*background-color: #339933; /*#7AB83D;*/ 
        color: $txt-color-mid;
        padding:10px;
        font-family: Gotham, sans-serif;
        font-weight: bold;
        border: 1px solid $link-hover;
    }
}