/*$bgcolor: #99CC66;*/
$bgcolor: #F5F5F5;
$size-title: 15px;
$menu-hover: #EEEEEE;
$link-hover: #999999;
$txt-color-mid: #5C753F;
$logo-fill: #333;

.courses {
  margin-top: 15px;
  svg {
    path {
      fill: $logo-fill;
      transition: 0.5s ease;
    }
  }
}
/* Reset General links */
a {
    &:link, &:visited {
        text-decoration: none;
        outline: none;
        color: $txt-color-mid;
    }

    &:hover {
        text-decoration: none;
        background-color: $menu-hover;
        outline: none;
        color: $txt-color-mid;
    }

    &:active {
        text-decoration: none;
        outline: none;
        color: $txt-color-mid;
    }
}

.course , .course-header {
    border: 0px solid $txt-color-mid;
}

/* links of cal-menu */
.course {
    text-align: right;
    cursor: pointer;
    .course-header {
        color: $logo-fill;
        font-family: Gotham, sans-serif;
        font-weight: bold;
        height:100%;

        &:hover{
                background-color: $menu-hover;
                text-decoration: none;
        }
        .course-header-name {
            display: inline-block;
            padding-right: 15px;
        }

        .course-header-icon {
            display: inline-block;
            vertical-align: middle;
            width: 45px;
            text-align: center;
        }
    }

    /* TODO enlarge the link and remove cursor: default */
    .teachers {
        cursor: default;
        .teacher {
            &:hover{
                    background-color: $menu-hover;
                    text-decoration: none;
            }
            .teacher-name {
                display: inline-block;
                white-space: nowrap;
                padding-right: 15px;
                margin-right: 45px;
            }
        }

        /*Animate menu, Course Names with Teachers*/
        .teacher-transition {
            -webkit-transition: all ease-out .2s;
            transition: all ease-out .2s;
        }

        .teacher-show {
            opacity: 1;
            padding-top: 2px;
            padding-bottom: 2px;

        }

        .teacher-hide {
            line-height: 0;
            opacity: 0;
            padding: 0px;
            /* disable link */
            pointer-events: none;
            cursor: default;
        }
    }
}


/*
.animate-teachers.hide {
    -webkit-transition: all ease-in .2s;
    transition: all ease-in .2s;
}
*/

